<!DOCTYPE html>
<html>
<head>
	<title>Email Notification</title>
	<!-- <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script> -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css"/>
	<script src="emailNotificationJS.js"></script>
</head>
<body>

	<!--  -->

	<div class="container" ng-app ng-controller="EmailController">
		<ul class="nav nav-tabs">
		    <li ng-class="{active: activeTab == 'inbox'}">
		        <a ng-click="activeTab='inbox'">Inbox</a>
		    </li>
		    <li ng-class="{active: activeTab == 'sent'}">
		        <a ng-click="activeTab='sent'">Sent</a>
		    </li>
		</ul>
		<!-- Inbox: Email List -->
		<table class="table table-bordered table-condensed" ng-show="activeTab=='inbox'">
			<tbody>
				<tr ng-repeat="email in emails" ng-click="showPopup(email)">
					<td>{{ email.from }}</td>
					<td>{{ email.subject }}</td>
					<td>{{ email.date }}</td>
				</tr>
			</tbody>
		</table>
		<!-- Sent: Email List -->
		<table class="table table-bordered table-condensed" ng-show="activeTab=='sent'">
			<tbody>
				<tr ng-repeat="email in sentEmails" ng-click="showPopup(email)">
					<td>{{ email.to }}</td>
					<td>{{ email.subject }}</td>
					<td>{{ email.date | date:'MMM d' }}</td>
				</tr>
			</tbody>
		</table>

		<button class="btn btn-primary" ng-click="showComposePopup()">Compose</button>
		<div class="modal" ng-show="isPopupVisible">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closePopup()">x</button>
				<h3>{{selectedEmail.subject}}</h3>
			</div>
			<div class="modal-body">
				<strong>From:</strong> {{selectedEmail.from}} <br />
				<strong>To:</strong> {{selectedEmail.to}} <br />
				<strong>Date:</strong> {{selectedEmail.date | date:'MMM d'}} <br />
				<br />
				<!-- <p>
					Hey You, <br />
					<br />
					How you doing?<br />
					<br />
					Sincerely<br />
					Your Bro
				</p> -->
				<p>
					{{ selectedEmail.body }} <br />
				</p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn btn-primary" ng-click="closePopup()">Close</a>
			</div>
		</div>
		<div class="modal" ng-show="isComposePopupVisible">
			<div class="modal-header">
				<button type="button" class="close" ng-click="closeComposePopup()">x</button>
				<h3>Compose Email</h3>
			</div>
			<div class="modal-body">
				<form>
					<input type="text" placeholder="To" style="width:95%;" ng-model="composeEmail.to"><br />
					<input type="text" placeholder="Subject" style="width:95%;" ng-model="composeEmail.subject"><br />
					<textarea style="width:95%;" rows="10" ng-model="composeEmail.body"></textarea>
				</form>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn" ng-click="closeComposePopup()">Close</a>
				<a href="#" class="btn btn-primary" ng-click="sendEmail()">Send</a>
			</div>
		</div>
	</div>
</body>
</html>