<form class="well" (submit)="addTask($event)">
      <div class="form-group">
        <input type="text" [(ngModel)]="title" name="title" class="form-control" placeholder="Add Task...">  
      </div> 
      <div class="form-group">
        <input type="text" [(ngModel)]="description" name="description" class="form-control" placeholder="Add description...">
      </div>
       <div class="form-group">
        <input type="date" [(ngModel)]="dueDate" name="dueDate" class="form-control" placeholder="Add Date...">
      </div>
       <div class="form-group">
        <input type="text" [(ngModel)]="tag" name="tag" class="form-control" placeholder="Add Tag...">
      </div>
      <div class="form-group">
        <input type="button" (click)="addTask($event)" value="submit" class="btn btn-success">  
      </div>
</form>

<table class="table table-bordered">
  <thead>
    <tr>
      <th class="col-md-1">Status</th>
      <th class="col-md-2">Title</th>
      <th class="col-md-3">Description</th>
      <th class="col-md-2">Due Date</th>
      <th class="col-md-2">Tags</th>
      <th class="col-md-1">Delete</th>
    </tr>
  </thead>
  <tbody>
    <!-- <div *ngFor="let task of tasks">
      <tr>
        <th scope="row"><input type="checkbox" [checked]="task.status" (click)="updateStatus(task)"></th>
        <td scope="col">{{task.title}}</td>
        <td scope="col">{{task.description}}</td>
        <td scope="col">{{task.dueDate}}</td>
        <td scope="col">{{task.tag}}</td>
        <td scope="col"><input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger"></td>
      </tr>
      <br><br>
    </div> -->
    
  </tbody>
</table>

<div class="task-list">
      <div *ngFor="let task of tasks">
        <div class="col-md-1">
            <input type="checkbox" [checked]="task.status" (click)="updateStatus(task)">
        </div>
        <div class="col-md-2">
            {{task.title}}
        </div>
        <div class="col-md-3">
            {{task.description}}
        </div>
        <div class="col-md-2">
            {{task.dueDate}}
        </div>
        <div class="col-md-2">
            {{task.tag}}
        </div>
        <!-- <div class="col-md-1">
            {{task.email}}
        </div> -->
        <div class="col-md-1">
            <input type="button" (click)="deleteTask(task._id)" value="Delete" class="btn btn-danger">    
        </div>
        <br><br><br>
      </div>
    </div>

<!--    <input type="button" (click)="logout" value="Logout" class="btn bn-danger">-->